*.pkl
*.bag
*.tar
*.zip

__pycache__/
.pytest_cache/

*.sw*
notebooks
*.lprof

build/
devel/
.catkin_workspace

datasymlinks/obman
datasymlinks/ShapeNetCore.v2
thirdparty/
figures/
data/
checkpoints/
tmp/
debug/
